<div class="js-accordion" data-accordion-prefix-classes="accordion">
  <div class="js-accordion__panel">
    <div class="js-accordion__header">
      <div class="d-flex align-items">
        <span class="rounded-letter is-secondary">Q</span>
        <h3 class="no-padding">Are the BOB loadings checked and reviewed ?</h3>
        <span class="btn--accordion"></span>
      </div>
    </div>
    <div class="normal-padding">
      <p>Content of 1st tab</p>
    </div>
  </div>

  <div class="js-accordion__panel">
    <div class="js-accordion__header">
      <div class="d-flex align-items">
        <span class="rounded-letter is-secondary">Q</span>
        <h3 class="no-padding">
          The battery life on the HHT devices seems to be getting quite bad?
        </h3>
        <span class="btn--accordion"></span>
      </div>
    </div>
    <div class="normal-padding">
      <p>Content of 2nd tab</p>
    </div>
  </div>

  <div class="js-accordion__panel">
    <div class="js-accordion__header">
      <div class="d-flex align-items">
        <span class="rounded-letter is-secondary">Q</span>
        <h3 class="no-padding">Why do we load Duty Free on GIB flights?</h3>
        <span class="btn--accordion"></span>
      </div>
    </div>
    <div class="normal-padding">
      <p>Content of 3rd tab</p>
    </div>
  </div>
</div>
