<div class="medium-padding">
  <label for="">Email address</label>
  <input type="text" name="" id="" />

  <label for="">Password</label>
  <input type="text" name="" id="" />

  <label for="">Select field</label>
  <div class="custom-select">
    <select>
      <option value="0">Option 1</option>
      <option value="1">Option 2</option>
      <option value="2">Option 3</option>
      <option value="3">Option 4</option>
    </select>
  </div>

  <div class="radio-choice">
    <input id="poll1" type="radio" name="poll" value="yes" checked />
    <label for="yes"
      ><span><span></span></span>Yes</label
    >
  </div>

  <div class="radio-choice">
    <input id="poll2" type="radio" name="poll" value="no" />
    <label for="no"
      ><span><span></span></span>No</label
    >
  </div>
</div>
