<h4>White circle</h4>
<ul class="list list--module">
  <li>Understand their own emotions</li>
  <li>
    Read customers accurately, so they may respond appropriately and effectively
  </li>
  <li>Make a connection with the customer</li>
  <li>Integrate their own emotional intelligence with selling skills</li>
</ul>

<h4 class="normal-margin-top">Secondary colour circle</h4>
<ul class="list list--module list--module--secondary">
  <li>Understand their own emotions</li>
  <li>
    Read customers accurately, so they may respond appropriately and effectively
  </li>
  <li>Make a connection with the customer</li>
  <li>Integrate their own emotional intelligence with selling skills</li>
</ul>
