<div class="five-slides">

        <div class="five-slides__slide">
            <div class="small-padding">
                <img class="img-resp" src="../src/images/notice_1.png" />
            </div>
        </div>
        <div class="five-slides__slide">
            <div class="small-padding">
                <img class="img-resp" src="../src/images/notice_1.png" />
            </div>
        </div>
        <div class="five-slides__slide">
            <div class="small-padding">
                <img class="img-resp" src="../src/images/notice_1.png" />
            </div>
        </div>
        <div class="five-slides__slide">
            <div class="small-padding">
                <img class="img-resp" src="../src/images/notice_1.png" />
            </div>
        </div>
        <div class="five-slides__slide">
            <div class="small-padding">
                <img class="img-resp" src="../src/images/notice_1.png" />
            </div>
        </div>
        <div class="five-slides__slide">
            <div class="small-padding">
                <img class="img-resp" src="../src/images/notice_1.png" />
            </div>
        </div>
        <div class="five-slides__slide">
            <div class="small-padding">
                <img class="img-resp" src="../src/images/notice_1.png" />
            </div>
        </div>
        <div class="five-slides__slide">
            <div class="small-padding">
                <img class="img-resp" src="../src/images/notice_1.png" />
            </div>
        </div>
        <div class="five-slides__slide">
            <div class="small-padding">
                <img class="img-resp" src="../src/images/notice_1.png" />
            </div>
        </div>
        <div class="five-slides__slide">
            <div class="small-padding">
                <img class="img-resp" src="../src/images/notice_1.png" />
            </div>
        </div>
       
</div>