<h4>Arrows</h4>
<ul class="list list--arrows">
  <li><a href="">News</a></li>
  <li><a href="">Beauty</a></li>
  <li><a href="">Incentives</a></li>
  <li><a href="">Noticeboard</a></li>
  <li><a href="">OMG</a></li>
  <li><a href="">Products</a></li>
</ul>

<h4 class="normal-margin-top">Dots</h4>
<ul class="list">
  <li>Understand their own emotions</li>
  <li>
    Read customers accurately, so they may respond appropriately and
    effectively.
  </li>
  <li>Make a connection with the customer</li>
  <li>Integrate their own emotional intelligence with selling skills</li>
</ul>
