.btn {
  transition: all 0.4s ease-in;
  padding: 5px;
  background: $secondary;
  color:$white;
  font-weight: bold;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;

  .btn__inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn__text {
    padding: 8px 30px;
    font-size: $baseline;
  }

  .btn__arrow {
    background:$white;
    min-width: 35px;
    height:35px;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    align-items: flex-end;

    &:before {
      font-family: 'icomoon' !important;
      content: "\e90a";
      color: $secondary;
      font-size: 25px;
      position: absolute;
      top: 5px;
      left: -1px;
      transition: 0.5s;
    }

    &__down {
      &:before {
        content: "\e910";
        top: -1px;
        left: 5px;
      }
    }

  }

  &--white {
    background:$white;
    color: $primary;
    margin-bottom: $baseline;
    display: block;

    &:last-of-type {
      margin-bottom: 0;
    }

    .icon {
      font-size: 30px;
      color: $secondary;
    }

    .btn__text {
      font-size: $s6-text;
      font-weight: 100;
      padding: 0 10px;
      display: flex;
      align-items: center;
    }

    .btn__arrow {
      background:$secondary;
  
      &:before {
        color: $white;
      }
    }
  }
  
  &:hover {
    background: $primary;
    color: $white;
    
    .btn__arrow:before {
      left: 5px;
      color: $primary;
    }

    .btn__arrow__down:before {
      top: 5px;
    }
  }

  &--basic {
    padding: 10px;
    min-width: 200px;
    text-align: center;
  }

  &--disabled {
    background: $tertiary;
    cursor: default;

    &:hover {
      background: $tertiary;
    }
  }

  &--plus {
    background: $primary;
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    padding: 0px 6px 2px;
    margin-left:10px;
    display: inline-block;

    &:hover {
      background: $secondary;
    }
  }

  &--close {
    font-weight: 100;
    padding: 10px 18px;
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//LINKS 

.small-link {
  font-size: $s6-text;
  font-weight: 500;
  display: block;
}

