.accordion__panel[aria-hidden=true] {
    display: none;
}

.accordion__header {
    width: 100%;
    border: none;
    background: $white;
    border-radius: 10px;
    padding: $baseline;
    margin-bottom: $baseline;
    cursor: pointer;

    h3 {
        flex-grow: 2;
        text-align: left;

        @include mq($until: mobile) {
            font-size: $baseline;
            line-height: $s4-lh;
            padding: $baseline 0 !important;
          }
    }

    .btn--accordion {

        &:after{
            content:'+';
            color: $white;
            background: $primary;
            padding: 2px 10px 5px;
            border-radius: 50px;
            font-size: $s3-text;
            margin-left: $baseline;

            @include mq($until: mobile) {
                margin-left: 0;
              }
        }
    }

    @include mq($until: mobile) {
        .d-flex {
            flex-wrap: wrap;
        }
      }
}

.accordion__title {
    display: none;
}

.accordion__panel[aria-hidden=false] {
    border-top: 1px solid $tertiary;
    border-radius: 0 0 10px 10px;
    margin-bottom: $baseline;
    background: $white;
}

.accordion__header[aria-expanded=true] {
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;

    .btn--accordion {

        &:after{
            content:'-';
            padding: 2px 12px 5px;
        }
    }
}