.navbar {
  background: $primary;

  .column {
    padding: 0;
  }

  &__logo {
    margin-left: 20px;

    span {
      font-size: 90px;
      color: $white;
      padding: 10px 0 0 10px;
      display: block;

      @include mq($until: mobile) {
        padding:$baseline;
      }

    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @include mq($until: mobile) {
      padding: 0 10px;
    }
  }

  &__search {
    padding: 5px 0 0 20px;

    @include mq($until: mobile) {
      padding: 0;
    }
  }

  &__menu {
    li {
      display: inline;
      padding-right: 10px;
      color: $white;
      cursor: pointer;
      font-weight: 100;
    }
    a {
      @include font-museo-sans($size: $baseline, $colour: $white, $weight: 100);
    }

    &__dropdown {
      &:after {
        font-family: "icomoon" !important;
        content: "\e908";
        color: $secondary;
        font-size: 10px;
        padding-left: 5px;
      }

      @include mq($until: desktop) {
        &:after {
          display: none;
        }

        &:before {
          font-family: "icomoon" !important;
          content: "\e908";
          color: $secondary;
          font-size: 10px;
          padding-right: 5px;
        }
      }
    }

    &__submenu {
      position: absolute;
      display: block;
      background: $tertiary;
      padding: $baseline;
      width: 100%;
      text-align: center;
      left:0;
      top: 85px;
      z-index: 10;
      display: none;

      @include mq($until:desktop) {
        position: static;
        background: $primary;
        list-style-type: none;
      }

      a {
        color: $primary;
        padding: 0 $baseline*2;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__account {
    background: $secondary;
    padding: 0;

    @include mq($until: mb) {
      display: none !important;
    }

    .d-flex {
      padding: 30px 30px 20px 20px;

      @include mq($until: mobile) {
        padding:$baseline;
        justify-content: center;
      }
    }

    span {
      font-size: 40px;
      padding-right: 10px;
      color: $white;
    }

    p {
      color: $white;
    }
  }
}

.navbar-burger {
  position: absolute;
  top: 30px;
  right: 1rem;
  background-color: $white;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  @include mq($from: mobile, $until:desktop) {
    right: 200px;
    top:20px;
  }

  span {
    background-color: $primary;
    display: block;
    height: 2px;
    width: 27px;
    left: calc(50% - 10px);
    margin: 2px 0;
  }
}

.nav-mobile {
  position: fixed;
  height: 100vh;
  width:100vw;
  background-color: $primary;
  top: 0;
  right: -100vw;
  z-index: 1000;
  text-align: center;
  overflow-x: hidden;

  &__menu {
    margin:0;
    padding: $baseline*2 0;
  }

  .search {
    padding: $baseline*6 5% 0;

    input {
      width: 100%;
    }
  }

  .close-btn {
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 5px;
    border: 2px solid $white;
    display: block;
    background: transparent;
    position: absolute;
    top:20px;
    right: 20px;
  }

  li {
    padding:10px 10px;
    color: $white;
    cursor: pointer;
    font-weight: 500;
  }

  a {
    color: $white;
    font-weight: 500;
    transition: all 0.4 ease-in;
    text-align: center;
  }

  .navbar__menu__submenu {
    a {
      font-weight: 100;
    }
  }

  a:hover {
    color: $primary;
  }
}

//LOGIN HEADER

.login__logo {
  text-align: center;
  padding: 60px 0 30px;

  span {
    color: $primary;
    font-size: 130px;

    &:before {
      display: inline-block;
    }
  }
}
