<div class="vertical-slide">
        <div class="vertical-slide__slide">
            <div class="normal-padding-tb">
                <h5>Team of the year</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <div class="separator separator--gray"></div>
            </div>
        </div>

        <div class="vertical-slide__slide">
            <div class="normal-padding-tb">
                <h5>Team of the year</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <div class="separator separator--gray"></div>
            </div>
        </div>

        <div class="vertical-slide__slide">
            <div class="normal-padding-tb">
                <h5>Team of the year</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <div class="separator separator--gray"></div>
            </div>
        </div>

        <div class="vertical-slide__slide">
            <div class="normal-padding-tb">
                <h5>Team of the year</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <div class="separator separator--gray"></div>
            </div>
        </div>

        <div class="vertical-slide__slide">
            <div class="normal-padding-tb">
                <h5>Team of the year</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <div class="separator separator--gray"></div>
            </div>
        </div>

        <div class="vertical-slide__slide">
            <div class="normal-padding-tb">
                <h5>Team of the year</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <div class="separator separator--gray"></div>
            </div>
        </div>

        <div class="vertical-slide__slide">
            <div class="normal-padding-tb">
                <h5>Team of the year</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <div class="separator separator--gray"></div>
            </div>
        </div>
    </div>