<div class="product-slider">
        <div class="product-slider__slide">
                <div class="normal-padding">
                    <div class="box box--border product-card">
                        <div class="normal-padding">
                            <img src="../src/images/notice_2.png"/>
        
                            <div class="product-card__ratings">
                                Rate me <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star"></span>
                            </div>
        
                            <h3>Guess Glitter Watch</h3>
                            <p>The Guess Girl loves shimmer and sparkle. this rose gold tone case surrounded bt(...)</p>
        
                            <div class="product-card__price">
                                <span>£85.00</span>
                                <strong>Save £27.00</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-slider__slide">
                <div class="normal-padding">
                    <div class="box box--border product-card">
                        <div class="normal-padding">
                            <img src="../src/images/notice_2.png"/>
        
                            <div class="product-card__ratings">
                                Rate me <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star"></span>
                            </div>
        
                            <h3>Guess Glitter Watch title is longer</h3>
                            <p>The Guess Girl loves shimmer and sparkle. this rose gold tone case surrounded bt(...)</p>
        
                            <div class="product-card__price">
                                <span>£85.00</span>
                                <strong>Save £27.00</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-slider__slide">
                <div class="normal-padding">
                    <div class="box box--border product-card">
                        <div class="normal-padding">
                            <img src="../src/images/notice_2.png"/>
        
                            <div class="product-card__ratings">
                                Rate me <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star"></span>
                            </div>
        
                            <h3>Guess Glitter Watch</h3>
                            <p>The Guess Girl loves shimmer and sparkle. this rose gold tone case surrounded bt(...)</p>
        
                            <div class="product-card__price">
                                <span>£85.00</span>
                                <strong>Save £27.00</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-slider__slide">
                <div class="normal-padding">
                    <div class="box box--border product-card">
                        <div class="normal-padding">
                            <img src="../src/images/notice_2.png"/>
        
                            <div class="product-card__ratings">
                                Rate me <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star"></span>
                            </div>
        
                            <h3>Guess Glitter Watch</h3>
                            <p>The Guess Girl loves shimmer and sparkle. this rose gold tone case surrounded bt(...)</p>
        
                            <div class="product-card__price">
                                <span>£85.00</span>
                                <strong>Save £27.00</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-slider__slide">
                <div class="normal-padding">
                    <div class="box box--border product-card">
                        <div class="normal-padding">
                            <img src="../src/images/notice_2.png"/>
        
                            <div class="product-card__ratings">
                                Rate me <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star filled"></span> <span class="icon icon-Star"></span>
                            </div>
        
                            <h3>Guess Glitter Watch</h3>
                            <p>The Guess Girl loves shimmer and sparkle. this rose gold tone case surrounded bt(...)</p>
        
                            <div class="product-card__price">
                                <span>£85.00</span>
                                <strong>Save £27.00</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>