<div class="three-slides">
  <div class="three-slides__slide">
    <div class="normal-padding">
      <img
        class="img-resp medium-padding-tb"
        src="../src/images/past-incentive.png"
      />

      <div class="date"><span class="icon icon-icon_f073"></span> April</div>
      <h4>hendrick voucher offer</h4>

      <div class="small-padding is-secondary rounded normal-margin-bottom">
        <div class="border rounded normal-padding align-center">
          WINNERS
        </div>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>
    </div>
  </div>

  <div class="three-slides__slide">
    <div class="normal-padding">
      <img
        class="img-resp medium-padding-tb"
        src="../src/images/past-incentive.png"
      />

      <div class="date"><span class="icon icon-icon_f073"></span> April</div>
      <h4>hendrick voucher offer</h4>

      <div class="small-padding is-secondary rounded normal-margin-bottom">
        <div class="border rounded normal-padding align-center">
          WINNERS
        </div>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>
    </div>
  </div>

  <div class="three-slides__slide">
    <div class="normal-padding">
      <img
        class="img-resp medium-padding-tb"
        src="../src/images/past-incentive.png"
      />

      <div class="date"><span class="icon icon-icon_f073"></span> April</div>
      <h4>hendrick voucher offer</h4>

      <div class="small-padding is-secondary rounded normal-margin-bottom">
        <div class="border rounded normal-padding align-center">
          WINNERS
        </div>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>
    </div>
  </div>

  <div class="three-slides__slide">
    <div class="normal-padding">
      <img
        class="img-resp medium-padding-tb"
        src="../src/images/past-incentive.png"
      />

      <div class="date"><span class="icon icon-icon_f073"></span> April</div>
      <h4>hendrick voucher offer</h4>

      <div class="small-padding date is-secondary rounded normal-margin-bottom">
        <div class="border rounded normal-padding align-center">
          WINNERS
        </div>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>
    </div>
  </div>

  <div class="three-slides__slide">
    <div class="normal-padding">
      <img
        class="img-resp medium-padding-tb"
        src="../src/images/past-incentive.png"
      />

      <div class="date"><span class="icon icon-icon_f073"></span> April</div>
      <h4>hendrick voucher offer</h4>

      <div class="small-padding is-secondary rounded normal-margin-bottom">
        <div class="border rounded normal-padding align-center">
          WINNERS
        </div>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>
    </div>
  </div>

  <div class="three-slides__slide">
    <div class="normal-padding">
      <img
        class="img-resp medium-padding-tb"
        src="../src/images/past-incentive.png"
      />

      <div class="date"><span class="icon icon-icon_f073"></span> April</div>
      <h4>Hendrick voucher offer</h4>

      <div class="small-padding is-secondary rounded normal-margin-bottom">
        <div class="border rounded normal-padding align-center">
          WINNERS
        </div>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>

      <div class="d-flex">
        <strong>MAN</strong>
        <span>VICTORIA HARTLEY 3059</span>
        <span>Pen. 32.4</span>
      </div>
    </div>
  </div>
</div>
