<div class="offer-slider">

        <div class="offer">

            <div class="small-padding">

                <div class="card">

                    <div class="medium-padding">

                        <div class="columns">

                            <div class="column is-narrow">
                                <div class="round-label round-label--small-text"><span>special offer</span></div>
                                <img class="img-resp" src="../src/images/notice_1.png" />
                            </div>

                            <div class="column">

                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="offer">

            <div class="small-padding">

                <div class="card">

                    <div class="medium-padding">

                        <div class="columns">

                            <div class="column is-narrow">
                                <div class="round-label round-label--small-text"><span>special offer</span></div>
                                <img class="img-resp" src="../src/images/notice_1.png" />
                            </div>

                            <div class="column">

                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="offer">

            <div class="small-padding">

                <div class="card">

                    <div class="medium-padding">

                        <div class="columns">

                            <div class="column is-narrow">
                                <div class="round-label round-label--small-text"><span>special offer</span></div>
                                <img class="img-resp" src="../src/images/notice_1.png" />
                            </div>

                            <div class="column">

                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="offer">

            <div class="small-padding">

                <div class="card">

                    <div class="medium-padding">

                        <div class="columns">

                            <div class="column is-narrow">
                                <div class="round-label round-label--small-text"><span>special offer</span></div>
                                <img class="img-resp" src="../src/images/notice_1.png" />
                            </div>

                            <div class="column">

                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="offer">

            <div class="small-padding">

                <div class="card">

                    <div class="medium-padding">

                        <div class="columns">

                            <div class="column is-narrow">
                                <div class="round-label round-label--small-text"><span>special offer</span></div>
                                <img class="img-resp" src="../src/images/notice_1.png" />
                            </div>

                            <div class="column">

                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="offer">

            <div class="small-padding">

                <div class="card">

                    <div class="medium-padding">

                        <div class="columns">

                            <div class="column is-narrow">
                                <div class="round-label round-label--small-text"><span>special offer</span></div>
                                <img class="img-resp" src="../src/images/notice_1.png" />
                            </div>

                            <div class="column">

                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>