<div class="box box--border">
  <div class="columns medium-padding">
    <div class="column">
      <div class="round-label"><span>NEW</span></div>
      <img src="../src/images/incentive.png" />
    </div>
    <div class="column">
      <h3>Incentives</h3>
      <p>
        This month we have a special offer on Bombay Sapphire, buy one for
        <strong>£16</strong> and two for <strong>£26</strong>
      </p>

      <div class="is-tertiary align-center normal-padding">
        <strong>Earn double on your OMG points</strong>
      </div>

      <div class="btn normal-margin-top">
        <div class="btn__inside">
          <span class="btn__text">Read More </span>
          <span class="btn__arrow"></span>
        </div>
      </div>
    </div>
  </div>
</div>
