<div class="pagination">
  <div class="d-flex justify-sides align-items">
    <p class="no-padding">Page 1 of 70</p>
    <div class="d-flex align-items">
      <ul class="pagination__numbers">
        <li class="selected">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li><span class="icon icon-icon_f107-right"></span></li>
      </ul>
      <a class="btn btn--basic">
        <span class="btn__text"
          >Last <span class="icon icon-icon_f107-right"></span
        ></span>
      </a>
    </div>
  </div>
</div>
