<div class="normal-padding">
  <div class="columns is-multiline is-gapless">
    <div class="column is-half">
      <div class="normal-padding">
        <div class="card card--event card--event--small">
          <div class="columns is-gapless">
            <div class="column is-narrow date--container">
              <div class="date--square">
                <span>23</span>
                Nov '17
              </div>
            </div>
            <div class="column">
              <div class="normal-padding">
                <h4>Crew room visit - MAN</h4>

                <p>
                  <strong>Event type</strong>
                  <span class="secondary">|</span> Crew room visit
                </p>

                <p>
                  <strong>Hosted by</strong>
                  <span class="secondary">|</span> Kerry Burke
                </p>
              </div>
            </div>
            <div class="column is-narrow">
              <a href="" class="small-link normal-margin-top">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="normal-padding">
        <div class="card card--event card--event--small">
          <div class="columns is-gapless">
            <div class="column is-narrow date--container">
              <div class="date--square">
                <span>23</span>
                Nov '17
              </div>
            </div>
            <div class="column">
              <div class="normal-padding">
                <h4>Crew room visit - MAN</h4>

                <p>
                  <strong>Event type</strong>
                  <span class="secondary">|</span> Crew room visit
                </p>

                <p>
                  <strong>Hosted by</strong>
                  <span class="secondary">|</span> Kerry Burke
                </p>
              </div>
            </div>
            <div class="column is-narrow">
              <a href="" class="small-link normal-margin-top">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="normal-padding">
        <div class="card card--event card--event--small">
          <div class="columns is-gapless">
            <div class="column is-narrow date--container">
              <div class="date--square">
                <span>23</span>
                Nov '17
              </div>
            </div>
            <div class="column">
              <div class="normal-padding">
                <h4>Crew room visit - MAN</h4>

                <p>
                  <strong>Event type</strong>
                  <span class="secondary">|</span> Crew room visit
                </p>

                <p>
                  <strong>Hosted by</strong>
                  <span class="secondary">|</span> Kerry Burke
                </p>
              </div>
            </div>
            <div class="column is-narrow">
              <a href="" class="small-link normal-margin-top">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="normal-padding">
        <div class="card card--event card--event--small">
          <div class="columns is-gapless">
            <div class="column is-narrow date--container">
              <div class="date--square">
                <span>23</span>
                Nov '17
              </div>
            </div>
            <div class="column">
              <div class="normal-padding">
                <h4>Crew room visit - MAN</h4>

                <p>
                  <strong>Event type</strong>
                  <span class="secondary">|</span> Crew room visit
                </p>

                <p>
                  <strong>Hosted by</strong>
                  <span class="secondary">|</span> Kerry Burke
                </p>
              </div>
            </div>
            <div class="column is-narrow">
              <a href="" class="small-link normal-margin-top">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
