<div class="three-slides slider-dark-bg">
  <div class="three-slides__slide">
    <div class="small-padding">
      <div class="card card--event">
        <div class="date--square">
          <span>23</span>
          Nov '17
        </div>
        <img class="img-resp" src="../src/images/notice_1.png" />

        <div class="normal-padding">
          <h4>Crew room visit - MAN</h4>

          <p>
            <strong>Event type</strong> <span class="secondary">|</span> Crew
            room visit
          </p>

          <p>
            <strong>Hosted by</strong> <span class="secondary">|</span> Kerry
            Burke
          </p>

          <a href="" class="small-link normal-margin-top">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="three-slides__slide">
    <div class="small-padding">
      <div class="card card--event">
        <div class="date--square">
          <span>23</span>
          Nov '17
        </div>
        <img class="img-resp" src="../src/images/notice_1.png" />

        <div class="normal-padding">
          <h4>Crew room visit - MAN</h4>

          <p>
            <strong>Event type</strong> <span class="secondary">|</span> Crew
            room visit
          </p>

          <p>
            <strong>Hosted by</strong> <span class="secondary">|</span> Kerry
            Burke
          </p>

          <a href="" class="small-link normal-margin-top">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="three-slides__slide">
    <div class="small-padding">
      <div class="card card--event">
        <div class="date--square">
          <span>23</span>
          Nov '17
        </div>
        <img class="img-resp" src="../src/images/notice_1.png" />

        <div class="normal-padding">
          <h4>Crew room visit - MAN</h4>

          <p>
            <strong>Event type</strong> <span class="secondary">|</span> Crew
            room visit
          </p>

          <p>
            <strong>Hosted by</strong> <span class="secondary">|</span> Kerry
            Burke
          </p>

          <a href="" class="small-link normal-margin-top">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="three-slides__slide">
    <div class="small-padding">
      <div class="card card--event">
        <div class="date--square">
          <span>23</span>
          Nov '17
        </div>
        <img class="img-resp" src="../src/images/notice_1.png" />

        <div class="normal-padding">
          <h4>Crew room visit - MAN</h4>

          <p>
            <strong>Event type</strong> <span class="secondary">|</span> Crew
            room visit
          </p>

          <p>
            <strong>Hosted by</strong> <span class="secondary">|</span> Kerry
            Burke
          </p>

          <a href="" class="small-link normal-margin-top">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="three-slides__slide">
    <div class="small-padding">
      <div class="card card--event">
        <div class="date--square">
          <span>23</span>
          Nov '17
        </div>
        <img class="img-resp" src="../src/images/notice_1.png" />

        <div class="normal-padding">
          <h4>Crew room visit - MAN</h4>

          <p>
            <strong>Event type</strong> <span class="secondary">|</span> Crew
            room visit
          </p>

          <p>
            <strong>Hosted by</strong> <span class="secondary">|</span> Kerry
            Burke
          </p>

          <a href="" class="small-link normal-margin-top">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="three-slides__slide">
    <div class="small-padding">
      <div class="card card--event">
        <div class="date--square">
          <span>23</span>
          Nov '17
        </div>
        <img class="img-resp" src="../src/images/notice_1.png" />

        <div class="normal-padding">
          <h4>Crew room visit - MAN</h4>

          <p>
            <strong>Event type</strong> <span class="secondary">|</span> Crew
            room visit
          </p>

          <p>
            <strong>Hosted by</strong> <span class="secondary">|</span> Kerry
            Burke
          </p>

          <a href="" class="small-link normal-margin-top">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
