<div class="small-padding-tb">
        <div class="card card--forum-question medium-padding">
            <div class="columns">
                <div class="column is-6">
                    <h4 class="no-padding">Great incentives but will be starting mid way</h4>
                    <p>Started by <strong>Shelley Matthews</strong> <span class="secondary">|</span> Wed 26th Jul 17, 6:31pm</p>
                </div>

                <div class="column is-2">
                    <span class="is-hidden-tablet">Views: </span> 286
                </div>

                <div class="column is-4">
                    <h5 class="is-hidden-tablet">Latest comment :</h5>
                    <div class="d-flex align-items">
                        <div class="forum-icon">
                            <span class="icon icon-Icon_f4ff"></span>
                        </div>
                        
                        <p>by <strong>Chrisitne Bates</strong></br>Wed 30th Aug 17, 09:59 AM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
