body {
  font-family: $font;
  font-size: $baseline;
  color: $primary;
  margin: 0;
  padding: 0;

  @include mq($until: mobile) {
    padding: 0 $baseline;
  }
}

main {
  padding: $baseline*2 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0 0 $baseline;
  margin: 0;
}

a {
  @include font-museo-sans(
      $size: $baseline,
      $colour: $secondary,
      $weight: 700
    )
    text-decoration: none;
  &:hover {
    color: $primary;
  }
}
