* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  overflow-x: hidden;
}

body {
  font-family: $font;
  font-size: $baseline;
  color: $primary;
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  word-break: break-word;
}

.body-lock {
  height: 100vh;
  overflow: hidden;
}

main {
  padding: $baseline*2 0;

  @include mq($until: mobile) {
    padding: $baseline;
  }
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0 0 $baseline;
  margin: 0;
}

a {
  @include font-museo-sans(
      $size: $baseline,
      $colour: $secondary,
      $weight: 700,
    )
    text-decoration: none;
    transition: 0.4s;
  &:hover {
    color: $primary;
  }
}
